*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.about-section {
    background-image: url('images/background-4.jpg');
    background-size: 100%;
    background-color: white;
    overflow: hidden;
    padding: 60px 0;
}

.inner-container {
    width: 46%;
    float: right;
    background-color: black;
    opacity: 80%;
    padding: 100px;
}
.inner-container h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    color: rgb(67, 233, 245);
}

.text {
    font-size: 15px;
    color: rgb(67, 233, 245);
    line-height: 30px;
    text-align: justify;
}

button {
    color: black;
    background-color: rgb(67, 233, 245);
    width: 17%;
    height: 5%;
    margin-top: 10%;
}